:root {
  --text-color-white: #ffffff;
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --btn-hover-color: #188ce8;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --modal-win-bg: rgba(0, 0, 0, 0.2);
  --modal-win-bg-cl: #ffffff;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --btn-sh-duration: 250ms;
  --btn-sh-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-win-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding: 32px 0;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-header {
  padding: 21px 0;
  border-bottom: 1px solid #ececec;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding: 24px 0 25px 0;
  }
}

.page-header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199.98px) {
  .page-header__container {
    justify-content: space-between;
  }
}

.logo {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo__up-left,
.logo__down-left {
  color: var(--accent-color);
}

.logo__up-right {
  color: var(--logo-color);
}

.logo__down-right {
  color: var(--text-color-white);
}

.mobile-menu__box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-win-bg-cl);
  padding: 48px 40px;
  z-index: 98;
  transform: translateX(100%);
  transition: transform var(--btn-sh-duration) var(--btn-sh-function);
}

@media screen and (min-width: 768px) {
  .mobile-menu__box {
    display: none;
  }
}

.mobile-menu__box.is-open {
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(0);
  transition: transform var(--btn-sh-duration) var(--btn-sh-function);
}

.mobile-menu__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__link--current {
  color: var(--accent-color);
}

.mobile-menu__btn {
  right: 23px;
  top: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.mobile-menu__btn:hover, .mobile-menu__btn:focus, .mobile-menu__btn:active {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__icon-menu {
  width: 24px;
  height: 16px;
  fill: black;
  transition: fill var(--btn-sh-duration) var(--btn-sh-function);
}

.mobile-menu__btn:hover .mobile-menu__icon-menu,
.mobile-menu__btn:focus .mobile-menu__icon-menu {
  fill: var(--accent-color);
}

.mobile-menu__close-btn {
  position: absolute;
  right: 17px;
  top: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus, .mobile-menu__close-btn:active {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mobile-menu__close-btn {
    display: none;
  }
}

.mobile-menu__icon-cross {
  width: 20px;
  height: 20px;
  fill: black;
  transition: fill var(--btn-sh-duration) var(--btn-sh-function);
}

.mobile-menu__close-btn:hover .mobile-menu__icon-cross,
.mobile-menu__close-btn:focus .mobile-menu__icon-cross {
  fill: var(--accent-color);
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-link {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.mobile-menu__contacts-link:hover, .mobile-menu__contacts-link:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  align-items: flex-end;
}

.mobile-menu__social-item:first-child {
  padding-left: 0;
}

.mobile-menu__social-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__social-item::after {
  content: "";
  width: 22px;
  height: 0px;
  left: 135px;
  top: 726px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.mobile-menu__contacts-down {
  margin-top: 330px;
}

.mobile-menu__social-down {
  padding-bottom: 0;
}

.navigation {
  display: flex;
}

.page__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .page__nav {
    display: block;
  }
}

.navigation__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding: 32px 0;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__mode:not(:last-child) {
  margin-right: 50px;
}

.navigation__sdudio::after {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin-top: 26px;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

@media screen and (min-width: 1200px) {
  .navigation__sdudio::after {
    margin-top: 24px;
  }
}

.navigation__portfolio::after {
  content: "";
  display: block;
  position: absolute;
  width: 78px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin-top: 26px;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

@media screen and (min-width: 1200px) {
  .navigation__portfolio::after {
    margin-top: 24px;
  }
}

.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
  }
}

.contact__email-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.contact__smartphone-icon {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__item-up:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item-up:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link-up {
  display: flex;
  align-items: center;
}

.contact__link-up {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text);
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.contact__link-up:hover, .contact__link-up:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.address__link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-box {
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    margin-bottom: 60px;
    justify-content: space-between;
  }
}

.contact-footer__mode {
  margin-top: 9px;
}

.contact-footer__link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.contact-footer__link:hover, .contact-footer__link:focus {
  color: var(--accent-color);
}

.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__icon {
  fill: currentColor;
  color: var(--text-color-white);
}

.footer-social-block {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 767.98px) {
  .footer-social-block {
    margin-bottom: 60px;
  }
}

.footer-subscribe__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.footer-subscribe__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25x;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  background-color: #2f303a;
  transition: border var(--btn-sh-duration) var(--btn-sh-function);
}

.footer-subscribe__input:hover, .footer-subscribe__input:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .footer-subscribe__input {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.footer-btn-scb {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--btn-sh-duration) var(--btn-sh-function);
}

.footer-btn-scb:hover, .footer-btn-scb:focus {
  background-color: var(--btn-hover-color);
}

@media screen and (max-width: 1199.98px) {
  .footer-btn-scb {
    margin-top: 20px;
  }
}

.footer-icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1199.98px) {
  .footer-subscribe {
    text-align: center;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .footer-subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-subscribe__box {
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1024px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--btn-sh-duration) var(--btn-sh-function), visibility var(--btn-sh-duration) var(--btn-sh-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--modal-win-bg-cl);
  box-shadow: var(--modal-win-box-shadow);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: var(--btn-sh-duration) var(--btn-sh-function);
  padding: 40px 40px;
}

.modal__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--modal-win-bg-cl);
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 6px;
}

.modal__btn-close:hover, .modal__btn-close:focus, .modal__btn-close:active {
  cursor: pointer;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: black;
  transition: fill var(--btn-sh-duration) var(--btn-sh-function);
}

.modal__btn-close:hover .modal__close-icon,
.modal__btn-close:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__title {
  color: #212121;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form__element:hover input,
.modal-form__element:focus input {
  outline: none;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-form__element:hover .modal-form__icon,
.modal-form__element:focus-within .modal-form__icon {
  cursor: pointer;
  fill: var(--accent-color);
}

.modal-form__margin {
  margin-bottom: 10px;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input-text {
  color: black;
  font-size: 14px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
}

.modal-form__name-block {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 15px;
  fill: #212121;
  transition: fill var(--btn-sh-duration) var(--btn-sh-function);
}

.modal-form__padding-svg {
  padding: 12px 0 12px 42px;
}

.modal-form__input-border {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--btn-sh-duration) var(--btn-sh-function);
}

.modal-form__input-height {
  height: 40px;
}

.modal-form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  border-radius: 4px;
  transition: border var(--btn-sh-duration) var(--btn-sh-function);
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__margin-comment {
  margin-bottom: 20px;
}

.modal-form__checkbox {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-text-color);
}

.modal-form__checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
}

.modal-form__checkbox-label:hover, .modal-form__checkbox-label:focus {
  cursor: pointer;
}

.modal-form__visually-hidden {
  position: absolute;
  visibility: hidden;
}

.modal-form__check-box-condition:checked + .modal-form__checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid rgba(33, 33, 33, 0);
  background-origin: border-box;
  border-radius: 2px;
}

.modal-form__policy {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.modal-form__input-point:hover,
.modal-form__input-point:focus {
  outline: none;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-form__button-send {
  background-color: var(--accent-color);
  color: var(--text-color-white);
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding: 10px 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--btn-sh-duration) var(--btn-sh-function);
}

.modal-form__button-send:hover, .modal-form__button-send:focus {
  background-color: var(--btn-hover-color);
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  background-size: 480px 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 768px 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    background-size: 1600px 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  max-width: 360px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: flex;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
  cursor: pointer;
  background: var(--accent-color);
  color: var(--text-color-white);
  border: none;
  border-radius: 4px;
  margin: auto;
  padding: 10px 32px;
  margin-top: 30px;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--btn-hover-color);
}

@media screen and (max-width: 1199.98px) {
  .advantages {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    margin: 94px 0px 0px 0px;
  }
}

.advantages__list {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages__list {
    margin: -15px;
  }
}

.item {
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    max-width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin: 0 15px;
  }
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--light-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .advantages__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: left;
}

@media screen and (max-width: 1199.98px) {
  .experience {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .experience {
    margin: 94px 0;
  }
}

.experience__title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.experience__list {
  display: flex;
  margin-left: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.experience__item {
  margin-bottom: 0;
}

.experience__item:not(:first-child) {
  margin-left: 0;
}

.experience__item:not(:last-child) {
  margin-right: 30px;
}

.experience__thumb {
  position: relative;
}

.experience__name {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__box {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .team__box {
    display: flex;
    flex-wrap: wrap;
  }
}

.team {
  background-color: var(--light-bg-color);
}

@media screen and (max-width: 1199.98px) {
  .team {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0px;
  }
}

.team__title {
  font-family: var(--main-font);
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (max-width: 1199.98px) {
  .team__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
  }
}

.team__card {
  flex-basis: 100%;
  text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__card {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin: 0 15px;
  }
}

.team__name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team__job {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.team__thumb {
  padding: 30px 0px 30px 0px;
  background-color: var(--modal-win-bg-cl);
  border-radius: 0 0 4px 4px;
  box-shadow: var(--modal-win-box-shadow);
}

.team__social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social__list {
  display: flex;
}

.team-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--accent-color);
  color: var(--text-color-white);
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__icon {
  fill: currentColor;
}

@media screen and (max-width: 1199.98px) {
  .clients {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .clients__list {
    margin: -15px;
  }
}

.clients__item {
  margin: 15px;
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .clients__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    width: 210px;
  }
  .clients__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    width: 226px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
    width: 170px;
    margin: 0 15px;
  }
}

.clients__title {
  font-family: var(--main-font);
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (max-width: 1199.98px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.client__icon-size {
  fill: currentColor;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (max-width: 1199.98px) {
  .portfolio {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

@media screen and (max-width: 1199.98px) {
  .portfolio__container {
    padding-left: 0;
    padding-right: 0;
  }
}

.portfolio__invisible-title {
  display: none;
}

.portfolio__btn-list {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  align-content: space-around;
  margin-bottom: 30px;
  margin-left: 15px;
}

@media screen and (max-width: 767.98px) {
  .portfolio__btn-list {
    margin-top: -15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__btn-list {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__btn-list {
    margin-bottom: 50px;
  }
}

.portfolio__cursor-btn {
  display: flex;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: auto;
  padding: 6px 22px;
  margin-right: 8px;
  background: #f5f4fa;
  transition: var(--btn-sh-duration) var(--btn-sh-function);
}

.portfolio__cursor-btn:hover, .portfolio__cursor-btn:focus {
  background: var(--accent-color);
  color: var(--text-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767.98px) {
  .portfolio__cursor-btn {
    margin-top: 15px;
  }
}

.portfolio__projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: -15px;
}

.portfolio__card {
  flex-basis: 100%;
  margin: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__card {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__card {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

.portfolio__project-name {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio__project-type {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: var(--modal-win-box-shadow);
}

.portfolio__overlay-card {
  overflow: hidden;
  position: relative;
}

.portfolio__text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: var(--btn-sh-duration) var(--btn-sh-function);
  overflow: hidden;
  padding: 63px 24px;
}

.portfolio__link:hover .portfolio__text-overlay {
  transform: translateY(0);
}

.portfolio__thumb-card {
  background: var(--modal-win-bg-cl);
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  flex-grow: 1;
}
/*# sourceMappingURL=main.css.map */