.address {
  font-style: normal;
  margin-top: 20px;
}

.address__link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
  transition: var(--btn-sh-duration) var(--btn-sh-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
