.advantages {
  @media screen and (max-width: 1199.98px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 1200px) {
    margin: 94px 0px 0px 0px;
  }
}

.advantages__list {
  margin: -15px;
  margin: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.item {
  text-align: center;
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--light-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.advantages__text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: left;
}
