.contact-footer__mode {
  margin-top: 9px;
}

.contact-footer__link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  transition: var(--btn-sh-duration) var(--btn-sh-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
