.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--btn-sh-duration) var(--btn-sh-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__icon {
  fill: currentColor;
  color: var(--text-color-white);
}

.footer-social-block {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 767.98px) {
    margin-bottom: 60px;
  }
  // margin-right: 93px;
}
