.page-header {
  padding: 21px 0;
  border-bottom: 1px solid #ececec;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 1200px) {
    padding: 24px 15px 25px 15px;
  }
}

.page-header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199.98px) {
    justify-content: space-between;
  }
}
